/*---------------- GENERAL ----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", sans-serif;
}

:root {
  --mainboard-size: 130px;
}

.container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------- HEADER ----------------*/
header {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid black;
}

header h2 {
  font-size: 25px;
}

/*---------------- GAMEBOARD ----------------*/
.mainboard {
  display: grid;
  border: 8px solid black;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
}

.mainboard > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: var(--mainboard-size);
  width: var(--mainboard-size);
}
